// scss-lint:disable Indentation
@mixin web-font(
  $font-name: 'FONT NAME',
  $file-path: '/PATHTOFONT/',
  $file-name: 'FONTNAME'
  ){
  $full-path: $file-path + $file-name;
  @font-face {
    font-family: '#{$font-name}';
    font-style: normal;
    font-weight: normal;
   // Modern Browsers
	src: url('#{$full-path}.woff') format('woff');
   // Safari, Android, iOS
	src: url('#{$full-path}.ttf') format('truetype');
    }
}


@mixin set-font-size($small-font: '1.5rem', $medium-font: '1.8rem', $large-font: '2.5rem') {

	font-size: #{$small-font};

	@include media('>phone') {
		font-size: #{$medium-font};
	}

	@include media('>tablet') {
		font-size: #{$large-font};
	}
}

/* aspect ratio | padding-bottom value

--------------|----------------------
16:9 | 56.25%
4:3 | 75%
3:2 | 66.66%
8:5 | 62.5%
@include aspect-ratio(3,2); */

@mixin aspect-ratio($width, $height) {
	position: relative;
	&::before {
		 content: '';
		 display: block;
		 padding-top: ($height / $width) * 100%;
		 width: 100%;
	}
	>&__canvas {
		 bottom: 0;
		 left: 0;
		 position: absolute;
		 right: 0;
		 top: 0;
	}
}

//Return retina sprite
@mixin retina-sprite-custom($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);
  @include sprite-image($retina-sprite);
  @include sprite-background-size($normal-sprite);
}

@mixin clearfix {
	&::after {
		clear: both;
		content: '';
    display: table;
  }
}

@mixin absolute-center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}



@mixin vertical-align($position: relative, $left: 50%) {
	position: $position;
	left: $left;
	transform: translateX(-$left);
  }

//Placeholder
@mixin placeholder($color: $white, $size: 16px) {
	&::-webkit-input-placeholder,
	&::-moz-placeholder,
	&:-ms-input-placeholder,
	&:-moz-placeholder  { /* Chrome/Opera/Safari */
		text-indent: 0%;
		//transition: all .2s ease 1s;
		color: $color;
		font-size: $size;
	}

	&:focus::-webkit-input-placeholder,
	&:focus::-moz-placeholder,
	&:focus:-ms-input-placeholder,
	&:focus:-moz-placeholder { 
		text-indent: -100%;
		// transition: all .2s ease;
	}

}


@mixin placeholder($color: $white, $size: 1.4rem) {
	&::-webkit-input-placeholder { /* WebKit browsers */
		color: $color;
		font-size: $size;
		opacity: 1;
		text-indent: 0%;
		transition: text-indent .7s ease;
	}
	&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		color: $color;
		font-size: $size;
		opacity: 1;
		text-indent: 0%;
		transition: text-indent .7s ease;
	}
	&::-moz-placeholder { /* Mozilla Firefox 19+ */
		color: $color;
		font-size: $size;
		opacity: 1;
		text-indent: 0%;
		transition: text-indent .7s ease;
	}
	&:-ms-input-placeholder { /* Internet Explorer 10+ */
		color: $color;
		font-size: $size;
		opacity: 1;
		text-indent: 0%;
		transition: text-indent .7s ease;
	}
	&:placeholder-shown {
		color: $color;
		font-size: $size;
		opacity: 1;
		text-indent: 0%;
		transition: text-indent .7s ease;
	}

	// Animate
	&:focus::-webkit-input-placeholder { /* WebKit browsers */
		text-indent: -100%;
		transition: text-indent .7s ease;
	}
	&:focus:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		text-indent: -100%;
		transition: text-indent .7s ease;
	}
	&:focus::-moz-placeholder { /* Mozilla Firefox 19+ */
		text-indent: -100%;
		transition: text-indent .7s ease;
	}
	&:focus:-ms-input-placeholder { /* Internet Explorer 10+ */
		text-indent: -100%;
		transition: text-indent .7s ease;
	}
	&:focus:placeholder-shown {
		text-indent: -100%;
		transition: text-indent .7s ease;
	}
  }
  


// @include context {
// 	color: $color;
// 	font-size: $size;
// }
