/**
* Grid
*/
//$max-page-width: 60rem;


// $max-page-width: 60rem;    // Absolute maximum width of content
// $page-width: $max-page-width;

// $row-width: 120rem !default;
// $max-width: 80%;

/**
* Black and white
*/
$white: #fff;
$black: #000;
$grey: #777777;

/**
* Colours
*/
$primary: #77746c;
$secondary: #668083;
$tertiary: #a68c5e;
$background-color: #fcfbfa;

/**
* Colour Palette
* @useage: palette(primary, base);
*/
$palettes: (
   bw: (
      white: $white,
      black: $black
   ),
   greys: (
      base: $grey, 
      light: lighten($grey, 25%),
      dark: darken($grey, 25%)
   ),
   primary: ( 
      base: $primary,
      light: lighten($primary, 30%),
      dark: darken($primary, 3%),
      ),
   secondary: ( 
      base: $secondary,
      light: lighten($secondary, 25%),
      dark: darken($secondary, 25%),
      ),
   tertiary: (
      base: $tertiary,
      light: lighten($tertiary, 25%),
      dark: darken($tertiary, 25%),
      )
   );


/**
* Typefaces
* @useage: font-family(primary, regular);
*/
$system-fonts: Helvetica, Arial, sans-serif;
$font-name: 'semplicita';

$font-primary-regular: '#{$font-name}-regular', $system-fonts;
$font-primary-medium: '#{$font-name}-medium', $system-fonts;
$font-primary-semibold: '#{$font-name}-semibold', $system-fonts;

$font-families: (
   primary: (
      regular: $font-primary-regular,
      medium: $font-primary-medium,
      semibold: $font-primary-semibold
   )
);


// $primary-font-color: $black;
// $primary-font-size: 16px;
// $primary-font-weight: normal;
// $primary-link-color: $black;


/**
* Set lost grid to use Flexbox by default
*/
//@lost flexbox flex;

//Breakpoints
$small: 540px;
$medium: 768px;
$large: 1024px;
$x-large: 1280px;
$xx-large: 1600px;

//Spacing
$margin-default: 4rem;

$spacing--x-tiny: .5rem;
$spacing--tiny: 1rem;
$spacing--x-small: 1.5rem;
$spacing--small: 2rem;
$spacing--x-medium: 2.5rem;
$spacing--medium: 3rem;
$spacing--x-large: 3.5rem;
$spacing--large: 4rem;
$spacing--large-x: 5rem;
$spacing--large-xx: 6rem;
$spacing--large-xxx: 7rem;
$spacing--large-xxxx: 8rem;
$spacing--large-xxxxx: 9rem;
$spacing--jumbo: 10rem;

$large--padding: 17.6rem;

//Hamburger menu
$button-width: 18px;                    // The width of the button area
$button-height: 18px;                   // The height of the button area
$bar-thickness: 2px;                    // The thickness of the button bars
$button-pad: 0;                         // The left/right padding between button area and bars.
$button-bar-space: 4px;                // The spacing between button bars
$button-transistion-duration: .3s;     // The transition duration


