database
wp-content/uploads/*
wp-content/plugins/*
wp-content/.env
wp-content/ai1wm-backups
wp-content/themes/wordpress-webpack/vendor/*
wp-content/themes/wordpress-webpack/node_modules
wp-content/themes/wordpress-webpack/yarn-error.log
wp-content/themes/wordpress-webpack/package-lock.json