h1,
h2,
h3,
h4 {
  font-weight: normal;
  margin-bottom: $margin-default / 2;
}

p,
li {
  @include set-font-size(1.5rem, 1.5rem, 1.5rem, 1.5rem);
}

p {
  margin-bottom: 1em;

  &:last-of-type {
    margin-bottom: 0;
  }
  
}

h1 {
  @include set-font-size(2rem, 3rem, 4rem, 6rem);
}

h2 {
  @include set-font-size(1rem, 2rem, 3rem, 4rem);
}

h3 {
  @include set-font-size(1.5rem, 2rem, 2.5rem, 3rem);
}

h4 {
  @include set-font-size(2rem, 2rem, 2rem, 2rem);
}

blockquote {
  @include set-font-size(2rem, 2rem, 2rem, 2rem);
  margin: 0;
}