html {
  box-sizing: border-box;
  font-size: 62.5%;
  min-height: 100%;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: #000;
  color: #000;
  font-size: 1rem;
  //font-family: $font-primary-regular;
  line-height: 1.33;
}


*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  ::selection {
    background: $primary-font-color;
    color: $white;
    text-shadow: none;
  }
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

img {
  max-width: 100%;
}

ul,
ol {
  padding-left: 0;
}

hr {
  border-color: $grey;
  margin: $margin-default 0;
}

figure {
  margin: 0;
}

blockquote {
  .quote {
    quotes: '“' '”' '‘' '’';

    &::before {
      content: open-quote;
    }

    &::after {
      content: close-quote;
    }
  }
}

.logo {
  max-width: 2.4rem;
}

a {
  text-decoration: none;
}

.row {
  @include clearfix;
}

// Bootstrap-style container
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 768px) {
    width: 750px;
  }

  @media screen and (min-width: 992px) {
    width: 970px;
  }

  @media screen and (min-width: 1200px) {
    width: 1170px;
  }
}

// Container that fills the window until a max width
.container--fill {
  margin-left: auto;
  margin-right: auto;
  max-width: 1170px;
  width: auto;

  @media screen and (max-width: 1200px) {
    padding: 0 20px;
  }

  @media screen and (max-width: 375px) {
    padding: 0 10px;
  }
}
