.c-play-button {
   @include vertical-align(absolute, 100%, 50%, 1);

   @include media('>tablet') {
      @include vertical-align(absolute, 50%, 97%, 1);
   }

   &__inner {
      lost-align: center;
      $dimensions: 65px;
      width: $dimensions;
      height: $dimensions;
      border-radius: 50%;
      background-color: palette(bw, white);
      color: palette(bw, black);
      text-transform: uppercase;
      font-size: 1rem;
      font-family: $font-primary-semibold;
      letter-spacing: .3rem;
      transition: all ease-in-out .2s;
      border: solid 0px $white;
      cursor: pointer;

      @include media('>tablet') {
         font-size: 2rem;
         $dimensions: 160px;
         width: $dimensions;
         height: $dimensions;
      }

      @include media('>desktop') {
         font-size: 3rem;
         $dimensions: 190px;
         width: $dimensions;
         height: $dimensions;
      }

      //Hover
      &:hover {
         background-color: transparent;
         border: solid 2px $white;
         color: $white;
      }

   }

}