/**
* Font Families
*/

// $font-regular: normal;
//$font-thin: 100;
// $font-light: 200;
// $font-medium: 500;
// $font-bold: bold;

$font-name: 'semplicita';
$file-path: './fonts/';
$font-weight-regular: 'regular';
$font-weight-medium: 'medium';
$font-weight-semibold: 'semibold';

/**
* Semplicita regular
*/
@include web-font(
    '#{$font-name}-#{$font-weight-regular}', 
    '#{$file-path}', 
    '#{$font-name}-#{$font-weight-regular}'
    );

/**
* Semplicita medium
*/
@include web-font(
    '#{$font-name}-#{$font-weight-medium}',
    '#{$file-path}',
    '#{$font-name}-#{$font-weight-medium}'
);

/**
* Semplicita semibold
*/
@include web-font(
    '#{$font-name}-#{$font-weight-semibold}',
    '#{$file-path}',
    '#{$font-name}-#{$font-weight-semibold}'
);