@charset "UTF-8";
/**
* Vendors
*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote::before, blockquote::after,
q::before, q::after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ==========================================================================
   Remodal's default mobile first theme
   ========================================================================== */
/* Default theme styles for the background */
.remodal-bg.remodal-is-opening,
.remodal-bg.remodal-is-opened {
  -webkit-filter: blur(3px);
          filter: blur(3px); }

/* Default theme styles of the overlay */
.remodal-overlay {
  background: rgba(43, 46, 56, 0.9); }

.remodal-overlay.remodal-is-opening,
.remodal-overlay.remodal-is-closing {
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

.remodal-overlay.remodal-is-opening {
  -webkit-animation-name: remodal-overlay-opening-keyframes;
          animation-name: remodal-overlay-opening-keyframes; }

.remodal-overlay.remodal-is-closing {
  -webkit-animation-name: remodal-overlay-closing-keyframes;
          animation-name: remodal-overlay-closing-keyframes; }

/* Default theme styles of the wrapper */
/* Default theme styles of the modal dialog */
.remodal {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;
  padding: 35px;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  color: #2b2e38;
  background: #fff;
  -webkit-box-shadow: 0px 15px 75px -15px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 15px 75px -15px rgba(0, 0, 0, 0.75); }

.remodal.remodal-is-opening,
.remodal.remodal-is-closing {
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

.remodal.remodal-is-opening {
  -webkit-animation-name: remodal-opening-keyframes;
          animation-name: remodal-opening-keyframes; }

.remodal.remodal-is-closing {
  -webkit-animation-name: remodal-closing-keyframes;
          animation-name: remodal-closing-keyframes; }

/* Vertical align of the modal dialog */
.remodal,
.remodal-wrapper:after {
  vertical-align: middle; }

/* Close button */
.remodal-close {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  overflow: visible;
  width: 35px;
  height: 35px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  text-decoration: none;
  color: #95979c;
  border: 0;
  outline: 0;
  background: transparent; }

.remodal-close:hover,
.remodal-close:focus {
  color: #2b2e38; }

.remodal-close:before {
  font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif !important;
  font-size: 25px;
  line-height: 35px;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 35px;
  content: "\D7";
  text-align: center; }

/* Dialog buttons */
.remodal-confirm,
.remodal-cancel {
  font: inherit;
  display: inline-block;
  overflow: visible;
  min-width: 110px;
  margin: 0;
  padding: 12px 0;
  cursor: pointer;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  border: 0;
  outline: 0; }

.remodal-confirm {
  color: #fff;
  background: #81c784; }

.remodal-confirm:hover,
.remodal-confirm:focus {
  background: #66bb6a; }

.remodal-cancel {
  color: #fff;
  background: #e57373; }

.remodal-cancel:hover,
.remodal-cancel:focus {
  background: #ef5350; }

/* Remove inner padding and border in Firefox 4+ for the button tag. */
.remodal-confirm::-moz-focus-inner,
.remodal-cancel::-moz-focus-inner,
.remodal-close::-moz-focus-inner {
  padding: 0;
  border: 0; }

/* Keyframes
   ========================================================================== */
@-webkit-keyframes remodal-opening-keyframes {
  from {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    opacity: 0; }
  to {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0); } }
@keyframes remodal-opening-keyframes {
  from {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    opacity: 0; }
  to {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0); } }

@-webkit-keyframes remodal-closing-keyframes {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; }
  to {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    opacity: 0;
    -webkit-filter: blur(0);
            filter: blur(0); } }

@keyframes remodal-closing-keyframes {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; }
  to {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    opacity: 0;
    -webkit-filter: blur(0);
            filter: blur(0); } }

@-webkit-keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

/* Media queries
   ========================================================================== */
@media only screen and (min-width: 641px) {
  .remodal {
    max-width: 100%; } }

/* IE8
   ========================================================================== */
.lt-ie9 .remodal-overlay {
  background: #2b2e38; }

.lt-ie9 .remodal {
  width: 700px; }

/* ==========================================================================
   Remodal's necessary styles
   ========================================================================== */
/* Hide scroll bar */
html.remodal-is-locked {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none; }

/* Anti FOUC */
.remodal,
[data-remodal-id] {
  display: none; }

/* Necessary styles of the overlay */
.remodal-overlay {
  position: fixed;
  z-index: 9999;
  top: -5000px;
  right: -5000px;
  bottom: -5000px;
  left: -5000px;
  display: none;
  background-color: rgba(255, 255, 255, 0.7); }

/* Necessary styles of the wrapper */
.remodal-wrapper {
  position: fixed;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  overflow: auto;
  text-align: center;
  -webkit-overflow-scrolling: touch; }

.remodal-wrapper:after {
  display: inline-block;
  height: 100%;
  margin-left: -0.05em;
  content: ""; }

/* Fix iPad, iPhone glitches */
.remodal-overlay,
.remodal-wrapper {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden; }

/* Necessary styles of the modal dialog */
.remodal {
  position: relative;
  outline: none;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%; }

.remodal-is-initialized {
  /* Disable Anti-FOUC */
  display: inline-block; }

/**
* Generic
*/
/* aspect ratio | padding-bottom value

--------------|----------------------
16:9 | 56.25%
4:3 | 75%
3:2 | 66.66%
8:5 | 62.5%
@include aspect-ratio(3,2); */
/**
* Grid
*/
/**
* Black and white
*/
/**
* Colours
*/
/**
* Colour Palette
* @useage: palette(primary, base);
*/
/**
* Typefaces
* @useage: font-family(primary, regular);
*/
/**
* Set lost grid to use Flexbox by default
*/
/**
* To actually call our palettes in our styles,
* we use a very simple custom Sassfunction to access
* colours in our palette by name and optional tone/shade:
*/
/**
* Colour palette
*/
/**
* Fonts
*/
/**
* Base
*/
h1,
h2,
h3,
h4 {
  font-weight: normal;
  margin-bottom: 2rem; }

p,
li {
  font-size: 1.5rem; }
  @media (min-width: 376px) {
    p,
    li {
      font-size: 1.5rem; } }
  @media (min-width: 769px) {
    p,
    li {
      font-size: 1.5rem; } }

p {
  margin-bottom: 1em; }

h1 {
  font-size: 3rem; }
  @media (min-width: 376px) {
    h1 {
      font-size: 4rem; } }
  @media (min-width: 769px) {
    h1 {
      font-size: 6rem; } }

h2 {
  font-size: 2rem; }
  @media (min-width: 376px) {
    h2 {
      font-size: 3rem; } }
  @media (min-width: 769px) {
    h2 {
      font-size: 4rem; } }

h3 {
  font-size: 2rem; }
  @media (min-width: 376px) {
    h3 {
      font-size: 2.5rem; } }
  @media (min-width: 769px) {
    h3 {
      font-size: 3rem; } }

h4 {
  font-size: 2rem; }
  @media (min-width: 376px) {
    h4 {
      font-size: 2rem; } }
  @media (min-width: 769px) {
    h4 {
      font-size: 2rem; } }

blockquote {
  font-size: 2rem;
  margin: 0; }
  @media (min-width: 376px) {
    blockquote {
      font-size: 2rem; } }
  @media (min-width: 769px) {
    blockquote {
      font-size: 2rem; } }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  min-height: 100%;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  background-color: #fcfbfa;
  color: #000;
  font-size: 1rem;
  line-height: 1.33;
  font-family: "semplicita-regular", Helvetica, Arial, sans-serif; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

* ::-moz-selection {
  color: #fff;
  text-shadow: none; }

* ::selection {
  color: #fff;
  text-shadow: none; }

em {
  font-style: italic; }

img {
  max-width: 100%; }

ul,
ol {
  padding-left: 0; }

hr {
  border-color: #777777;
  margin: 4rem 0; }

figure {
  margin: 0; }

blockquote .quote {
  quotes: '\201C' '\201D' '\2018' '\2019'; }
  blockquote .quote::before {
    content: open-quote; }
  blockquote .quote::after {
    content: close-quote; }

.logo {
  max-width: 2.4rem; }

a {
  text-decoration: none; }

.row::after {
  clear: both;
  content: '';
  display: table; }

::-moz-selection {
  background: #c1bfbb; }

::selection {
  background: #c1bfbb; }

::-moz-selection {
  background: #77746c; }

sub, sup {
  /* Specified in % so that the sup/sup is the
     right size relative to the surrounding text */
  font-size: 75%;
  /* Zero out the line-height so that it doesn't
     interfere with the positioning that follows */
  line-height: 0;
  /* Where the magic happens: makes all browsers position
     the sup/sup properly, relative to the surrounding text */
  position: relative;
  /* Note that if you're using Eric Meyer's reset.css, this
     is already set and you can remove this rule */
  vertical-align: baseline; }

sup {
  /* Move the superscripted text up */
  top: -0.5em; }

sub {
  /* Move the subscripted text down, but only
     half as far down as the superscript moved up */
  bottom: -0.25em; }

.b_svg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%; }

.b_icon {
  display: inline-block;
  fill: currentColor;
  height: 1em;
  pointer-events: none;
  position: relative;
  stroke-width: 0;
  vertical-align: middle;
  width: 1em; }

/**
* Fonts
*/
/**
 * @license
 * MyFonts Webfont Build ID 3551250, 2018-04-04T05:42:26-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: SemplicitaPro-Bold by Canada Type
 * URL: https://www.myfonts.com/fonts/canadatype/semplicita-pro/bold/
 * 
 * Webfont: SemplicitaPro-Light by Canada Type
 * URL: https://www.myfonts.com/fonts/canadatype/semplicita-pro/light/
 * 
 * Webfont: SemplicitaPro-BoldItalic by Canada Type
 * URL: https://www.myfonts.com/fonts/canadatype/semplicita-pro/bold-italic/
 * 
 * Webfont: SemplicitaPro-LtIt by Canada Type
 * URL: https://www.myfonts.com/fonts/canadatype/semplicita-pro/light-italic/
 * 
 * Webfont: SemplicitaPro-Italic by Canada Type
 * URL: https://www.myfonts.com/fonts/canadatype/semplicita-pro/italic/
 * 
 * Webfont: SemplicitaPro-MedIt by Canada Type
 * URL: https://www.myfonts.com/fonts/canadatype/semplicita-pro/medium-italic/
 * 
 * Webfont: SemplicitaPro-Medium by Canada Type
 * URL: https://www.myfonts.com/fonts/canadatype/semplicita-pro/medium/
 * 
 * Webfont: SemplicitaPro-SemibdIt by Canada Type
 * URL: https://www.myfonts.com/fonts/canadatype/semplicita-pro/semibold-italic/
 * 
 * Webfont: SemplicitaPro by Canada Type
 * URL: https://www.myfonts.com/fonts/canadatype/semplicita-pro/regular/
 * 
 * Webfont: SemplicitaPro-Semibold by Canada Type
 * URL: https://www.myfonts.com/fonts/canadatype/semplicita-pro/semibold/
 * 
 * 
 * License: https://www.myfonts.com/viewlicense?type=web&buildid=3551250
 * Licensed pageviews: 100,000
 * Webfonts copyright: Copyright &#x00A9; 2011 Canada Type. Designed by Patrick Griffin
 * &amp; Bill Troop. All rights reserved.
 * 
 * © 2018 MyFonts Inc
*/
/**
* Font Families
*/
/**
* $font-regular: normal;
* $font-thin: 100;
* $font-light: 200;
* $font-bold: bold;
* $font-medium: 500;
*/
/**
* Semplicita regular
*/
@font-face {
  font-family: "semplicita-regular";
  font-style: normal;
  font-weight: normal;
  src: url(/wp-content/themes/wordpress-webpack/assets/fonts/semplicita-regular.woff) format("woff");
  src: url(/wp-content/themes/wordpress-webpack/assets/fonts/semplicita-regular.ttf) format("truetype"); }

/**
* Semplicita medium
*/
@font-face {
  font-family: "semplicita-medium";
  font-style: normal;
  font-weight: normal;
  src: url(/wp-content/themes/wordpress-webpack/assets/fonts/semplicita-medium.woff) format("woff");
  src: url(/wp-content/themes/wordpress-webpack/assets/fonts/semplicita-medium.ttf) format("truetype"); }

/**
* Semplicita semibold
*/
@font-face {
  font-family: "semplicita-semibold";
  font-style: normal;
  font-weight: normal;
  src: url(/wp-content/themes/wordpress-webpack/assets/fonts/semplicita-semibold.woff) format("woff");
  src: url(/wp-content/themes/wordpress-webpack/assets/fonts/semplicita-semibold.ttf) format("truetype"); }

/**
* Modules
*/
.menu-primary-navigation-container {
  display: table-cell;
  vertical-align: middle; }
  .menu-primary-navigation-container .site-nav__menu {
    margin: 0;
    padding: 6px 0 0 0;
    text-align: right; }
  .menu-primary-navigation-container .menu-item {
    font-family: "semplicita-semibold", Helvetica, Arial, sans-serif;
    color: #6f6c65;
    text-transform: uppercase;
    font-size: 1.25rem;
    display: inline-block;
    padding-left: 6rem;
    letter-spacing: 0.15rem; }
    @media (min-width: 376px) {
      .menu-primary-navigation-container .menu-item {
        font-size: 1.25rem; } }
    @media (min-width: 769px) {
      .menu-primary-navigation-container .menu-item {
        font-size: 1.25rem; } }
    .menu-primary-navigation-container .menu-item a {
      color: currentColor;
      cursor: pointer; }
      .menu-primary-navigation-container .menu-item a:hover {
        color: #c1bfbb; }
  .menu-primary-navigation-container .current_page_item,
  .menu-primary-navigation-container .current-page-ancestor {
    color: #c1bfbb; }

.menu-footer-navigation-container {
  display: table-cell;
  vertical-align: middle;
  padding: 0 0 0 1rem; }
  .menu-footer-navigation-container .site-nav__menu {
    margin: 0;
    padding: 0;
    text-align: left; }
  .menu-footer-navigation-container .menu-item {
    font-family: "semplicita-semibold", Helvetica, Arial, sans-serif;
    display: inline-block;
    font-size: 1rem;
    padding: 0 1rem 0 0; }
    @media (min-width: 376px) {
      .menu-footer-navigation-container .menu-item {
        font-size: 1rem; } }
    @media (min-width: 769px) {
      .menu-footer-navigation-container .menu-item {
        font-size: 1rem; } }
    .menu-footer-navigation-container .menu-item a {
      color: currentColor;
      cursor: pointer; }
      .menu-footer-navigation-container .menu-item a:hover {
        color: #c1bfbb; }
  .menu-footer-navigation-container .current_page_item {
    color: #c1bfbb; }

/**
* Hero
*/
.m-hero {
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0 auto;
  display: flex; }
.m-hero {
  justify-content: center;
  align-items: center; }
  .m-hero::before {
    content: '';
    display: block;
    padding-top: 75%;
    width: 100%; }
  > .m-hero__canvas {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0; }

/**
* Hero title container
*/
.m-hero__title-container {
  z-index: 1;
  text-transform: uppercase;
  text-align: center; }
  @media (min-width: 769px) {
    .m-hero__title-container {
      position: relative;
      position: absolute;
      width: 60%; }
      .m-hero__title-container::before {
        content: '';
        display: block;
        padding-top: 57.14286%;
        width: 100%; }
      > .m-hero__title-container__canvas {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0; } }

/**
* Hero title
*/
.m-hero__title {
  display: block;
  z-index: 1;
  position: absolute;
  left: 0;
  right: 0; }
  .m-hero__title sup {
    font-size: .4em;
    top: -1.5em; }

/**
* Home / front page title
*/
.m-hero__title--home {
  color: #668083;
  font-size: 1.8rem; }
  @media (min-width: 376px) {
    .m-hero__title--home {
      font-size: 2.4rem; } }
  @media (min-width: 769px) {
    .m-hero__title--home {
      font-size: 3rem; } }
  .m-hero__title--home--top {
    top: 20%; }
  .m-hero__title--home--bottom {
    bottom: 20%; }
  @media (min-width: 769px) {
    .m-hero__title--home {
      left: 0;
      right: 0;
      position: absolute; }
      .m-hero__title--home--top {
        top: 0; }
      .m-hero__title--home--bottom {
        bottom: 0; } }

/**
* Home Zuma Halo title
*/
.m-hero__title--zuma-halo {
  color: #77746c;
  font-size: 1.4rem; }
  @media (min-width: 376px) {
    .m-hero__title--zuma-halo {
      font-size: 1.8rem; } }
  @media (min-width: 769px) {
    .m-hero__title--zuma-halo {
      font-size: 2.4rem; } }
  .m-hero__title--zuma-halo--top {
    top: 20%; }
  .m-hero__title--zuma-halo--bottom {
    bottom: 20%; }
  @media (min-width: 769px) {
    .m-hero__title--zuma-halo {
      left: 0;
      right: 0;
      position: absolute; }
      .m-hero__title--zuma-halo--top {
        top: -12.5%; } }

.m-page-header {
  background-color: #fff; }
  .m-page-header__inner-container {
    display: table;
    width: 100%;
    height: 150px; }
  .m-page-header__logo-container {
    width: 80px;
    display: table-cell;
    vertical-align: middle; }
  .m-page-header__logo {
    display: block;
    width: 80px;
    height: 20px;
    fill: #000; }

.m-large-copy--color-base {
  color: #77746c; }

.m-large-copy--color-white {
  color: #fff; }

.m-large-copy--font-large p {
  font-size: 2.8rem;
  line-height: 1.25; }
  @media (min-width: 376px) {
    .m-large-copy--font-large p {
      font-size: 4.8rem; } }
  @media (min-width: 769px) {
    .m-large-copy--font-large p {
      font-size: 7.2rem; } }

.m-large-copy--font-small p {
  font-size: 1.8rem;
  line-height: 1.25; }
  @media (min-width: 376px) {
    .m-large-copy--font-small p {
      font-size: 3.8rem; } }
  @media (min-width: 769px) {
    .m-large-copy--font-small p {
      font-size: 6rem; } }

.m-large-copy p {
  padding: 8rem 0; }
  .m-large-copy p br {
    display: none;
    visibility: hidden; }

@media (min-width: 769px) {
  .m-large-copy p {
    padding: 10rem 0; }
    .m-large-copy p br {
      display: inline;
      visibility: visible; } }

@media (min-width: 1025px) {
  .m-large-copy p {
    padding: 17.6rem 0; } }

.m-large-copy sup {
  font-size: .3em;
  top: -1.8em; }

.m-video-player {
  display: flex; }

.m-video-player {
  justify-content: center;
  align-items: center; }
  .m-video-player__content {
    opacity: 1;
    z-index: 2;
    position: absolute;
    width: 100%;
    -webkit-transition: ease-out opacity 500ms;
    transition: ease-out opacity 500ms; }
  .m-video-player__poster {
    opacity: 1;
    -webkit-transition: ease-out opacity 500ms;
    transition: ease-out opacity 500ms;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }

.isPlaying > .m-video-player__poster,
.isPlaying > .m-video-player__content {
  opacity: 0; }

.m-brand-logos {
  display: flex;
  flex-flow: row wrap; }
  .m-brand-logos__logo {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(99.9% * 1/5 - (0px - 0px * 1/5));
    max-width: calc(99.9% * 1/5 - (0px - 0px * 1/5));
    width: calc(99.9% * 1/5 - (0px - 0px * 1/5));
    display: flex;
    padding: 2rem; }
  .m-brand-logos__logo:nth-child(1n) {
    margin-right: 0px;
    margin-left: 0; }
  .m-brand-logos__logo:last-child {
    margin-right: 0; }
  .m-brand-logos__logo {
    justify-content: center;
    align-items: center; }
    .m-brand-logos__logo:first-child {
      padding-left: 0; }
    .m-brand-logos__logo:last-child {
      padding-right: 0; }

.m-copy-image {
  display: flex;
  flex-flow: row wrap;
  color: #77746c;
  padding: 2rem 0 10rem; }
  .m-copy-image p {
    font-size: 2.4rem;
    line-height: 1.6;
    padding-top: 3.5rem; }
    @media (min-width: 376px) {
      .m-copy-image p {
        font-size: 2.4rem; } }
    @media (min-width: 769px) {
      .m-copy-image p {
        font-size: 2.4rem; } }
  .m-copy-image__column {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(99.9% * 2/2 - (0px - 0px * 2/2));
    max-width: calc(99.9% * 2/2 - (0px - 0px * 2/2));
    width: calc(99.9% * 2/2 - (0px - 0px * 2/2)); }
  .m-copy-image__column:nth-child(1n) {
    margin-right: 0px;
    margin-left: 0; }
  .m-copy-image__column:last-child {
    margin-right: 0; }
    @media (min-width: 769px) {
      .m-copy-image__column:nth-of-type(1) {
        padding-right: 3.5rem; } }
    @media (min-width: 769px) {
      .m-copy-image__column:nth-of-type(2) {
        padding-left: 3.5rem; } }
    @media (min-width: 769px) {
      .m-copy-image__column {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(99.9% * 1/2 - (0px - 0px * 1/2));
        max-width: calc(99.9% * 1/2 - (0px - 0px * 1/2));
        width: calc(99.9% * 1/2 - (0px - 0px * 1/2)); }
      .m-copy-image__column:nth-child(1n) {
        margin-right: 0px;
        margin-left: 0; }
      .m-copy-image__column:last-child {
        margin-right: 0; } }
  .m-copy-image__link {
    font-size: 2rem;
    color: #a68c5e;
    text-transform: uppercase;
    display: block;
    padding-top: 3rem;
    font-family: "semplicita-semibold", Helvetica, Arial, sans-serif;
    -webkit-transition: all ease-in-out 200ms;
    transition: all ease-in-out 200ms;
    letter-spacing: 0.09em; }
    @media (min-width: 376px) {
      .m-copy-image__link {
        font-size: 2rem; } }
    @media (min-width: 769px) {
      .m-copy-image__link {
        font-size: 2rem; } }
    .m-copy-image__link::after {
      content: '';
      display: block;
      background-color: currentColor;
      height: 0.18em;
      margin-top: 1.5rem; }
    .m-copy-image__link:hover {
      color: #55482f; }

/**
* Headline
*/
.m-copy-image--headline p {
  font-size: 4.2rem;
  line-height: 1.25;
  text-transform: uppercase; }
  @media (min-width: 376px) {
    .m-copy-image--headline p {
      font-size: 4.8rem; } }
  @media (min-width: 769px) {
    .m-copy-image--headline p {
      font-size: 5.4rem; } }
  .m-copy-image--headline p br {
    display: none;
    visibility: hidden; }
  .m-copy-image--headline p sup {
    font-size: .3em;
    top: -1.8em; }

@media (min-width: 769px) {
  .m-copy-image--headline p br {
    display: inline;
    visibility: visible; } }

/**
* Colour dark
*/
.m-copy-image--color-dark {
  color: #000; }
  .m-copy-image--color-dark p {
    font-size: 1.2rem;
    line-height: 1.65; }
    @media (min-width: 376px) {
      .m-copy-image--color-dark p {
        font-size: 1.8rem; } }
    @media (min-width: 769px) {
      .m-copy-image--color-dark p {
        font-size: 2.4rem; } }

.m-page-footer {
  background-color: #77746c;
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase; }
  @media (min-width: 376px) {
    .m-page-footer {
      font-size: 1rem; } }
  @media (min-width: 769px) {
    .m-page-footer {
      font-size: 1rem; } }
  .m-page-footer__container {
    display: table;
    width: 100%;
    padding-top: 10rem;
    padding-bottom: 7rem; }
  .m-page-footer__logo-container {
    width: 80px;
    display: table-cell;
    vertical-align: middle; }
  .m-page-footer__logo {
    display: block;
    display: block;
    width: 80px;
    height: 20px;
    color: #fff; }

/**
* Social icons
*/
.m-page-footer__social-icons {
  display: table-cell;
  vertical-align: middle;
  text-align: right; }
  .m-page-footer__social-icons a {
    color: #fff;
    display: block; }
  .m-page-footer__social-icons svg {
    width: 20px;
    height: 20px; }

.m-page-footer__copyright-container {
  display: table;
  padding-bottom: 5rem; }

.m-page-footer__copyright {
  display: table-cell;
  vertical-align: middle; }

.m-sub-navigation {
  margin: 96px auto; }

.m-sub-navigation__menu {
  margin: 0 auto;
  list-style: none;
  position: relative;
  display: flex;
  flex-flow: row wrap; }
  .m-sub-navigation__menu li {
    display: inline-block;
    text-align: center;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(99.9% * 1/3 - (0px - 0px * 1/3));
    max-width: calc(99.9% * 1/3 - (0px - 0px * 1/3));
    width: calc(99.9% * 1/3 - (0px - 0px * 1/3));
    color: #a68c5e;
    -webkit-transition: color ease-in-out 300ms;
    transition: color ease-in-out 300ms; }
  .m-sub-navigation__menu li:nth-child(1n) {
    margin-right: 0px;
    margin-left: 0; }
  .m-sub-navigation__menu li:last-child {
    margin-right: 0; }
    .m-sub-navigation__menu li a {
      color: currentColor;
      font-size: 14px;
      float: left;
      text-decoration: none;
      text-transform: uppercase;
      display: block;
      width: 100%;
      padding-bottom: 6rem; }
    .m-sub-navigation__menu li span {
      display: block; }

.magic-line {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100px;
  height: 5px;
  background-color: currentColor;
  overflow: hidden; }
  .magic-line:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    position: relative;
    margin: 0 auto; }

.m-sub-navigation {
  margin: 96px auto; }

.m-sub-navigation__menu {
  margin: 0 auto;
  list-style: none;
  position: relative;
  display: flex;
  flex-flow: row wrap; }
  .m-sub-navigation__menu li {
    display: inline-block;
    text-align: center;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(99.9% * 1/3 - (0px - 0px * 1/3));
    max-width: calc(99.9% * 1/3 - (0px - 0px * 1/3));
    width: calc(99.9% * 1/3 - (0px - 0px * 1/3));
    color: #a68c5e;
    -webkit-transition: color ease-in-out 300ms;
    transition: color ease-in-out 300ms; }
  .m-sub-navigation__menu li:nth-child(1n) {
    margin-right: 0px;
    margin-left: 0; }
  .m-sub-navigation__menu li:last-child {
    margin-right: 0; }
    .m-sub-navigation__menu li a {
      color: currentColor;
      font-size: 14px;
      float: left;
      text-decoration: none;
      text-transform: uppercase;
      display: block;
      width: 100%;
      padding-bottom: 6rem; }
    .m-sub-navigation__menu li span {
      display: block; }

.magic-line {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100px;
  height: 5px;
  background-color: currentColor;
  overflow: hidden; }
  .magic-line:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    position: relative;
    margin: 0 auto; }

.m-column-group {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 10rem; }
  .m-column-group__item {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(99.9% * 1/3 - (36px - 36px * 1/3));
    max-width: calc(99.9% * 1/3 - (36px - 36px * 1/3));
    width: calc(99.9% * 1/3 - (36px - 36px * 1/3));
    position: relative; }
  .m-column-group__item:nth-child(1n) {
    margin-right: 36px;
    margin-left: 0; }
  .m-column-group__item:last-child {
    margin-right: 0; }
  .m-column-group__item:nth-child(3n) {
    margin-right: 0;
    margin-left: auto; }
  .m-column-group__title {
    font-family: "semplicita-medium", Helvetica, Arial, sans-serif;
    color: #77746c;
    text-transform: uppercase;
    font-size: 2.4rem; }
    @media (min-width: 376px) {
      .m-column-group__title {
        font-size: 3rem; } }
    @media (min-width: 769px) {
      .m-column-group__title {
        font-size: 3.6rem; } }
  .m-column-group__expand {
    display: block;
    margin-bottom: 5rem;
    position: relative;
    overflow: hidden; }
    .m-column-group__expand--has-modal:hover .m-column-group__expand-icon {
      background-color: rgba(0, 0, 0, 0.6); }
      .m-column-group__expand--has-modal:hover .m-column-group__expand-icon svg {
        -webkit-transform: scale(1.08);
                transform: scale(1.08); }
  .m-column-group__expand-icon {
    background-color: rgba(0, 0, 0, 0.3);
    width: 30px;
    height: 30px;
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1;
    border-radius: 50%;
    display: block;
    color: #fff;
    display: flex;
    -webkit-transition: all ease-in-out 200ms;
    transition: all ease-in-out 200ms; }
  .m-column-group__expand-icon {
    justify-content: center;
    align-items: center; }
    .m-column-group__expand-icon svg {
      width: 30px;
      height: 30px;
      -webkit-transition: all ease 100ms;
      transition: all ease 100ms; }
    .m-column-group__expand-icon:hover {
      background-color: rgba(0, 0, 0, 0.6); }
      .m-column-group__expand-icon:hover svg {
        -webkit-transform: scale(1.08);
                transform: scale(1.08); }
  .m-column-group__image {
    display: block; }
  .m-column-group__copy p {
    font-size: 1.2rem;
    line-height: 1.65; }
    @media (min-width: 376px) {
      .m-column-group__copy p {
        font-size: 1.2rem; } }
    @media (min-width: 769px) {
      .m-column-group__copy p {
        font-size: 1.8rem; } }

/**
 * Modal
 */
.m-modal {
  height: calc(100vh);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 0;
  overflow: hidden; }

/**
 * Modal info sheet
 */
.m-modal__content {
  background-color: #fff;
  max-width: 384px;
  position: absolute;
  bottom: 0;
  right: 10rem;
  text-align: left;
  overflow: hidden;
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms; }
  .m-modal__content p {
    font-size: 1.2rem;
    line-height: 1.65;
    margin-bottom: 4rem; }
    @media (min-width: 376px) {
      .m-modal__content p {
        font-size: 1.2rem; } }
    @media (min-width: 769px) {
      .m-modal__content p {
        font-size: 1.8rem; } }

/**
 * Modal content inner
 */
.m-modal__content__inner {
  padding: 4rem;
  position: relative;
  bottom: 0; }

/**
 * Modal info sheet download link and icon
 */
.m-modal__content__infosheet {
  font-size: 1.1rem;
  line-height: 1.65;
  color: #a68c5e;
  text-transform: uppercase;
  font-family: "semplicita-semibold", Helvetica, Arial, sans-serif;
  margin-bottom: 4rem;
  display: inline-block; }
  @media (min-width: 376px) {
    .m-modal__content__infosheet {
      font-size: 1.2rem; } }
  @media (min-width: 769px) {
    .m-modal__content__infosheet {
      font-size: 1.3rem; } }
  .m-modal__content__infosheet a {
    color: currentColor;
    vertical-align: bottom; }
  .m-modal__content__infosheet__icon {
    font-size: 3.5em;
    vertical-align: bottom;
    margin-bottom: 6px;
    margin-right: 10px; }
  .m-modal__content__infosheet:hover {
    color: #55482f;
    cursor: pointer; }

/**
 * Modal content list
 */
.m-modal__content__list {
  font-family: "semplicita-semibold", Helvetica, Arial, sans-serif; }
  .m-modal__content__list__item {
    margin-bottom: 4rem; }
    .m-modal__content__list__item:last-child {
      margin-bottom: 0; }

/**
   * Modal caption label
   */
.m-modal__content__caption-toggle__label {
  position: absolute;
  right: 10rem;
  bottom: 0;
  z-index: 1;
  line-height: 6.5;
  height: 80px;
  background-color: #fff;
  width: 384px;
  margin-bottom: 0;
  text-align: left;
  padding-left: 4rem;
  vertical-align: middle; }
  .m-modal__content__caption-toggle__label::before {
    content: attr(data-closed);
    display: inline; }

/**
 * Modal caption button
 */
.m-modal__content__caption-toggle__checkbox {
  display: none;
  visibility: hidden; }
  .m-modal__content__caption-toggle__checkbox:checked ~ label::before {
    content: attr(data-open);
    display: inline; }
  .m-modal__content__caption-toggle__checkbox:checked ~ .m-modal__content {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }

/**
* Components
*/
.c-play-button {
  display: flex;
  width: 190px;
  height: 190px;
  border-radius: 50%;
  background-color: #fff;
  color: #000;
  text-transform: uppercase;
  font-size: 1rem;
  font-family: "semplicita-semibold", Helvetica, Arial, sans-serif;
  letter-spacing: .3rem;
  position: absolute;
  top: 50%;
  left: 100%;
  -webkit-transform: translateX(-100%) translateY(-50%) scale(1);
          transform: translateX(-100%) translateY(-50%) scale(1);
  z-index: 1;
  -webkit-transition: all ease-in-out .2s;
  transition: all ease-in-out .2s; }
.c-play-button {
  justify-content: center;
  align-items: center; }
  @media (min-width: 376px) {
    .c-play-button {
      font-size: 2rem; } }
  @media (min-width: 769px) {
    .c-play-button {
      font-size: 3rem; } }
  .c-play-button__title {
    color: currentColor;
    display: block;
    padding-top: 1rem; }
  .c-play-button:hover {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 100%;
    -webkit-transform: translateX(-100%) translateY(-50%) scale(0.97);
            transform: translateX(-100%) translateY(-50%) scale(0.97);
    z-index: 1;
    background-color: #c1bfbb; }

/**
* Utilities
*/
.u-section {
  width: 100%; }

.u-row {
  margin: 0 auto; }
  .u-row--full-width {
    max-width: 100%; }
  .u-row--large {
    max-width: 90%; }
  .u-row--medium {
    max-width: 1280px; }
  .u-row--small {
    max-width: 1020px; }
    @media (max-width: 1279px) {
      .u-row--small {
        padding-left: 3rem;
        padding-right: 3rem; } }

/*------------------------------------*\
    VISIBILITY UTILITIES
\*------------------------------------*/
/**
* Uppercase type
*/
.u-text-transform--uppercase {
  text-transform: uppercase; }

/**
  * Font weight semibold
  */
.font-family--semibold,
strong {
  font-family: "semplicita-semibold", Helvetica, Arial, sans-serif; }

/* Screen reader
 -----------------------------------*/
.u-sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* Centering
 -----------------------------------*/
.u-center-block {
  margin-left: auto;
  margin-right: auto; }

/* Basic show/hide classes
 -----------------------------------*/
.u-hidden {
  display: none !important; }

.u-show {
  display: block !important; }

html.hidden {
  display: block !important; }

/**
 * Responsive hide-below
 *
 * Uses media max-width so will use the value specified in _variables and will hide content
 * up to that point

 $max-width-small: max-width 540px;
 $max-width-medium: max-width 768px;
 $max-width-large: max-width 1024px;
 $max-width-x-large: max-width 1280px;
 $max-width-xx-large: max-width 1600px;---------------*/
/*
.u-hide-below--small {

    @include breakpoint($max-width-small) {
        display: none!important;
    }

}
.u-hide-below--medium {

    @include breakpoint($max-width-medium) {
        display: none!important;
    }

}
.u-hide-below--large {

    @include breakpoint($max-width-large) {
        display: none!important;
    }

}
.u-hide-below--huge {

    @include breakpoint($max-width-x-large) {
        display: none!important;
    }

}
.u-hide-below--massive {

    @include breakpoint($max-width-xx-large) {
        display: none!important;
    }

}

*/
/**
 * Responsive hide-above
 *
 * Uses media min-width so will use the value specified in _variables and will hide content
 * from that point and above

 $small: 540px;
 $medium: 768px;
 $large: 1024px;
 $x-large: 1280px;
 $xx-large: 1600px;
 -----------------------------------*/
/*
.u-hide-above--small {

    @include breakpoint($small) {
        display: none!important;
    }

}

.u-hide-above--medium {

    @include breakpoint($medium) {
        display: none!important;
    }

}

.u-hide-above--large {

    @include breakpoint($large) {
        display: none!important;
    }

}

.u-hide-above--huge {

    @include breakpoint($x-large) {
        display: none!important;
    }

}

.u-hide-above--massive {

    @include breakpoint($xx-large) {
        display: none!important;
    }

}

*/
.u-iframe {
  position: relative; }
  .u-iframe::before {
    content: '';
    display: block;
    padding-top: 56.25%;
    width: 100%; }
  > .u-iframe__canvas {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0; }
  .u-iframe iframe {
    bottom: 0;
    right: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }
