@charset "UTF-8";
/**
* Vendors
*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote::before, blockquote::after,
q::before, q::after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/**
* Generic
*/
/* aspect ratio | padding-bottom value

--------------|----------------------
16:9 | 56.25%
4:3 | 75%
3:2 | 66.66%
8:5 | 62.5%
@include aspect-ratio(3,2); */
/**
* Grid
*/
/**
* Black and white
*/
/**
* Colours
*/
/**
* Colour Palette
* @useage: palette(primary, base);
*/
/**
* Typefaces
* @useage: font-family(primary, regular);
*/
/**
* Set lost grid to use Flexbox by default
*/
/**
* To actually call our palettes in our styles,
* we use a very simple custom Sassfunction to access
* colours in our palette by name and optional tone/shade:
*/
/**
* Colour palette
*/
/**
* Fonts
*/
/**
* Base
*/
h1,
h2,
h3,
h4 {
  font-weight: normal;
  margin-bottom: 2rem; }

p,
li {
  font-size: 1.5rem; }
  @media (min-width: 376px) {
    p,
    li {
      font-size: 1.5rem; } }
  @media (min-width: 769px) {
    p,
    li {
      font-size: 1.5rem; } }

h1 {
  font-size: 3rem; }
  @media (min-width: 376px) {
    h1 {
      font-size: 4rem; } }
  @media (min-width: 769px) {
    h1 {
      font-size: 6rem; } }

h2 {
  font-size: 2rem; }
  @media (min-width: 376px) {
    h2 {
      font-size: 3rem; } }
  @media (min-width: 769px) {
    h2 {
      font-size: 4rem; } }

h3 {
  font-size: 2rem; }
  @media (min-width: 376px) {
    h3 {
      font-size: 2.5rem; } }
  @media (min-width: 769px) {
    h3 {
      font-size: 3rem; } }

h4 {
  font-size: 2rem; }
  @media (min-width: 376px) {
    h4 {
      font-size: 2rem; } }
  @media (min-width: 769px) {
    h4 {
      font-size: 2rem; } }

blockquote {
  font-size: 2rem;
  margin: 0; }
  @media (min-width: 376px) {
    blockquote {
      font-size: 2rem; } }
  @media (min-width: 769px) {
    blockquote {
      font-size: 2rem; } }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  min-height: 100%;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  background-color: #fcfbfa;
  color: #000;
  font-size: 1rem;
  line-height: 1.33;
  font-family: "semplicita-regular", Helvetica, Arial, sans-serif; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

* ::-moz-selection {
  color: #fff;
  text-shadow: none; }

* ::selection {
  color: #fff;
  text-shadow: none; }

em {
  font-style: italic; }

img {
  max-width: 100%; }

ul,
ol {
  padding-left: 0; }

hr {
  border-color: #777777;
  margin: 4rem 0; }

figure {
  margin: 0; }

blockquote .quote {
  quotes: '\201C' '\201D' '\2018' '\2019'; }
  blockquote .quote::before {
    content: open-quote; }
  blockquote .quote::after {
    content: close-quote; }

.logo {
  max-width: 2.4rem; }

a {
  text-decoration: none; }

.row::after {
  clear: both;
  content: '';
  display: table; }

::-moz-selection {
  background: #cbc9c7; }

::selection {
  background: #cbc9c7; }

::-moz-selection {
  background: #827c77; }

sub, sup {
  /* Specified in % so that the sup/sup is the
     right size relative to the surrounding text */
  font-size: 75%;
  /* Zero out the line-height so that it doesn't
     interfere with the positioning that follows */
  line-height: 0;
  /* Where the magic happens: makes all browsers position
     the sup/sup properly, relative to the surrounding text */
  position: relative;
  /* Note that if you're using Eric Meyer's reset.css, this
     is already set and you can remove this rule */
  vertical-align: baseline; }

sup {
  /* Move the superscripted text up */
  top: -0.5em; }

sub {
  /* Move the subscripted text down, but only
     half as far down as the superscript moved up */
  bottom: -0.25em; }

.b_svg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%; }

.b_icon {
  display: inline-block;
  fill: currentColor;
  height: 1em;
  pointer-events: none;
  position: relative;
  stroke-width: 0;
  vertical-align: middle;
  width: 1em; }

/**
* Fonts
*/
/**
 * @license
 * MyFonts Webfont Build ID 3551250, 2018-04-04T05:42:26-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: SemplicitaPro-Bold by Canada Type
 * URL: https://www.myfonts.com/fonts/canadatype/semplicita-pro/bold/
 * 
 * Webfont: SemplicitaPro-Light by Canada Type
 * URL: https://www.myfonts.com/fonts/canadatype/semplicita-pro/light/
 * 
 * Webfont: SemplicitaPro-BoldItalic by Canada Type
 * URL: https://www.myfonts.com/fonts/canadatype/semplicita-pro/bold-italic/
 * 
 * Webfont: SemplicitaPro-LtIt by Canada Type
 * URL: https://www.myfonts.com/fonts/canadatype/semplicita-pro/light-italic/
 * 
 * Webfont: SemplicitaPro-Italic by Canada Type
 * URL: https://www.myfonts.com/fonts/canadatype/semplicita-pro/italic/
 * 
 * Webfont: SemplicitaPro-MedIt by Canada Type
 * URL: https://www.myfonts.com/fonts/canadatype/semplicita-pro/medium-italic/
 * 
 * Webfont: SemplicitaPro-Medium by Canada Type
 * URL: https://www.myfonts.com/fonts/canadatype/semplicita-pro/medium/
 * 
 * Webfont: SemplicitaPro-SemibdIt by Canada Type
 * URL: https://www.myfonts.com/fonts/canadatype/semplicita-pro/semibold-italic/
 * 
 * Webfont: SemplicitaPro by Canada Type
 * URL: https://www.myfonts.com/fonts/canadatype/semplicita-pro/regular/
 * 
 * Webfont: SemplicitaPro-Semibold by Canada Type
 * URL: https://www.myfonts.com/fonts/canadatype/semplicita-pro/semibold/
 * 
 * 
 * License: https://www.myfonts.com/viewlicense?type=web&buildid=3551250
 * Licensed pageviews: 100,000
 * Webfonts copyright: Copyright &#x00A9; 2011 Canada Type. Designed by Patrick Griffin
 * &amp; Bill Troop. All rights reserved.
 * 
 * © 2018 MyFonts Inc
*/
/**
* Font Families
*/
/**
* $font-regular: normal;
* $font-thin: 100;
* $font-light: 200;
* $font-bold: bold;
* $font-medium: 500;
*/
/**
* Semplicita regular
*/
@font-face {
  font-family: "semplicita-regular";
  font-style: normal;
  font-weight: normal;
  src: url(/wp-content/themes/wordpress-webpack/assets/fonts/semplicita-regular.woff) format("woff");
  src: url(/wp-content/themes/wordpress-webpack/assets/fonts/semplicita-regular.ttf) format("truetype"); }

/**
* Semplicita medium
*/
@font-face {
  font-family: "semplicita-medium";
  font-style: normal;
  font-weight: normal;
  src: url(/wp-content/themes/wordpress-webpack/assets/fonts/semplicita-medium.woff) format("woff");
  src: url(/wp-content/themes/wordpress-webpack/assets/fonts/semplicita-medium.ttf) format("truetype"); }

/**
* Semplicita semibold
*/
@font-face {
  font-family: "semplicita-semibold";
  font-style: normal;
  font-weight: normal;
  src: url(/wp-content/themes/wordpress-webpack/assets/fonts/semplicita-semibold.woff) format("woff");
  src: url(/wp-content/themes/wordpress-webpack/assets/fonts/semplicita-semibold.ttf) format("truetype"); }

/**
* Modules
*/
.menu-primary-navigation-container {
  display: table-cell;
  vertical-align: middle; }
  .menu-primary-navigation-container .site-nav__menu {
    margin: 0;
    padding: 6px 0 0 0;
    text-align: right; }
  .menu-primary-navigation-container .menu-item {
    font-family: "semplicita-semibold", Helvetica, Arial, sans-serif;
    color: #7a7470;
    text-transform: uppercase;
    font-size: 1.25rem;
    display: inline-block;
    padding-left: 6rem;
    letter-spacing: 0.15rem; }
    @media (min-width: 376px) {
      .menu-primary-navigation-container .menu-item {
        font-size: 1.25rem; } }
    @media (min-width: 769px) {
      .menu-primary-navigation-container .menu-item {
        font-size: 1.25rem; } }
    .menu-primary-navigation-container .menu-item a {
      color: currentColor;
      cursor: pointer; }
      .menu-primary-navigation-container .menu-item a:hover {
        color: #cbc9c7; }
  .menu-primary-navigation-container .current_page_item {
    color: #cbc9c7; }

.menu-footer-navigation-container {
  display: table-cell;
  vertical-align: middle;
  padding: 0 0 0 1rem; }
  .menu-footer-navigation-container .site-nav__menu {
    margin: 0;
    padding: 0;
    text-align: left; }
  .menu-footer-navigation-container .menu-item {
    font-family: "semplicita-semibold", Helvetica, Arial, sans-serif;
    display: inline-block;
    font-size: 1rem;
    padding: 0 1rem 0 0; }
    @media (min-width: 376px) {
      .menu-footer-navigation-container .menu-item {
        font-size: 1rem; } }
    @media (min-width: 769px) {
      .menu-footer-navigation-container .menu-item {
        font-size: 1rem; } }
    .menu-footer-navigation-container .menu-item a {
      color: currentColor;
      cursor: pointer; }
      .menu-footer-navigation-container .menu-item a:hover {
        color: #cbc9c7; }
  .menu-footer-navigation-container .current_page_item {
    color: #cbc9c7; }

/**
* Hero
*/
.m-hero {
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0 auto;
  display: flex; }
.m-hero {
  justify-content: center;
  align-items: center; }
  .m-hero::before {
    content: '';
    display: block;
    padding-top: 75%;
    width: 100%; }
  > .m-hero__canvas {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0; }

/**
* Hero title container
*/
.m-hero__title-container {
  z-index: 1;
  text-transform: uppercase;
  text-align: center; }
  @media (min-width: 769px) {
    .m-hero__title-container {
      position: relative;
      position: absolute;
      width: 60%; }
      .m-hero__title-container::before {
        content: '';
        display: block;
        padding-top: 57.14286%;
        width: 100%; }
      > .m-hero__title-container__canvas {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0; } }

/**
* Hero title
*/
.m-hero__title {
  display: block;
  z-index: 1;
  position: absolute;
  left: 0;
  right: 0; }
  .m-hero__title sup {
    font-size: .4em;
    top: -1.5em; }

/**
* Home / front page title
*/
.m-hero__title--home {
  color: #668083;
  font-size: 1.8rem; }
  @media (min-width: 376px) {
    .m-hero__title--home {
      font-size: 2.4rem; } }
  @media (min-width: 769px) {
    .m-hero__title--home {
      font-size: 3rem; } }
  .m-hero__title--home--top {
    top: 20%; }
  .m-hero__title--home--bottom {
    bottom: 20%; }
  @media (min-width: 769px) {
    .m-hero__title--home {
      left: 0;
      right: 0;
      position: absolute; }
      .m-hero__title--home--top {
        top: 0; }
      .m-hero__title--home--bottom {
        bottom: 0; } }

/**
* Home Zuma Halo title
*/
.m-hero__title--zuma-halo {
  color: #827c77;
  font-size: 1.4rem; }
  @media (min-width: 376px) {
    .m-hero__title--zuma-halo {
      font-size: 1.8rem; } }
  @media (min-width: 769px) {
    .m-hero__title--zuma-halo {
      font-size: 2.4rem; } }
  .m-hero__title--zuma-halo--top {
    top: 20%; }
  .m-hero__title--zuma-halo--bottom {
    bottom: 20%; }
  @media (min-width: 769px) {
    .m-hero__title--zuma-halo {
      left: 0;
      right: 0;
      position: absolute; }
      .m-hero__title--zuma-halo--top {
        top: -12.5%; } }

.m-page-header {
  background-color: #fff; }
  .m-page-header__inner-container {
    display: table;
    width: 100%;
    height: 150px; }
  .m-page-header__logo-container {
    width: 80px;
    display: table-cell;
    vertical-align: middle; }
  .m-page-header__logo {
    display: block;
    width: 80px;
    height: 20px;
    fill: #000; }

.m-large-copy--color-base {
  color: #827c77; }

.m-large-copy--color-white {
  color: #fff; }

.m-large-copy--font-large p {
  font-size: 2.8rem;
  line-height: 1.25; }
  @media (min-width: 376px) {
    .m-large-copy--font-large p {
      font-size: 4.8rem; } }
  @media (min-width: 769px) {
    .m-large-copy--font-large p {
      font-size: 7.2rem; } }

.m-large-copy--font-small p {
  font-size: 1.8rem;
  line-height: 1.25; }
  @media (min-width: 376px) {
    .m-large-copy--font-small p {
      font-size: 3.8rem; } }
  @media (min-width: 769px) {
    .m-large-copy--font-small p {
      font-size: 6rem; } }

.m-large-copy p {
  padding: 8rem 0; }
  .m-large-copy p br {
    display: none;
    visibility: hidden; }

@media (min-width: 376px) {
  .m-large-copy p {
    padding: 10rem 0; }
    .m-large-copy p br {
      display: inline;
      visibility: visible; } }

@media (min-width: 1025px) {
  .m-large-copy p {
    padding: 17.6rem 0; }
    .m-large-copy p br {
      display: inline;
      visibility: visible; } }

.m-large-copy sup {
  font-size: .3em;
  top: -1.8em; }

.m-video-player {
  display: flex; }

.m-video-player {
  justify-content: center;
  align-items: center; }
  .m-video-player__content {
    opacity: 1;
    z-index: 2;
    position: absolute;
    width: 100%;
    -webkit-transition: ease-out opacity 500ms;
    transition: ease-out opacity 500ms; }
  .m-video-player__poster {
    opacity: 1;
    -webkit-transition: ease-out opacity 500ms;
    transition: ease-out opacity 500ms;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }

.isPlaying > .m-video-player__poster,
.isPlaying > .m-video-player__content {
  opacity: 0; }

.m-brand-logos {
  display: flex;
  flex-flow: row wrap; }
  .m-brand-logos__logo {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(99.9% * 1/5 - (0px - 0px * 1/5));
    max-width: calc(99.9% * 1/5 - (0px - 0px * 1/5));
    width: calc(99.9% * 1/5 - (0px - 0px * 1/5));
    display: flex;
    padding: 2rem; }
  .m-brand-logos__logo:nth-child(1n) {
    margin-right: 0px;
    margin-left: 0; }
  .m-brand-logos__logo:last-child {
    margin-right: 0; }
  .m-brand-logos__logo {
    justify-content: center;
    align-items: center; }
    .m-brand-logos__logo:first-child {
      padding-left: 0; }
    .m-brand-logos__logo:last-child {
      padding-right: 0; }

.m-copy-image {
  display: flex;
  flex-flow: row wrap;
  color: #827c77;
  padding: 2rem 0 10rem; }
  .m-copy-image p {
    font-size: 2.4rem;
    line-height: 1.6;
    padding-top: 3.5rem; }
    @media (min-width: 376px) {
      .m-copy-image p {
        font-size: 2.4rem; } }
    @media (min-width: 769px) {
      .m-copy-image p {
        font-size: 2.4rem; } }
  .m-copy-image__column {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(99.9% * 2/2 - (0px - 0px * 2/2));
    max-width: calc(99.9% * 2/2 - (0px - 0px * 2/2));
    width: calc(99.9% * 2/2 - (0px - 0px * 2/2)); }
  .m-copy-image__column:nth-child(1n) {
    margin-right: 0px;
    margin-left: 0; }
  .m-copy-image__column:last-child {
    margin-right: 0; }
    @media (min-width: 769px) {
      .m-copy-image__column:nth-of-type(1) {
        padding-right: 3.5rem; } }
    @media (min-width: 769px) {
      .m-copy-image__column:nth-of-type(2) {
        padding-left: 3.5rem; } }
    @media (min-width: 769px) {
      .m-copy-image__column {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(99.9% * 1/2 - (0px - 0px * 1/2));
        max-width: calc(99.9% * 1/2 - (0px - 0px * 1/2));
        width: calc(99.9% * 1/2 - (0px - 0px * 1/2)); }
      .m-copy-image__column:nth-child(1n) {
        margin-right: 0px;
        margin-left: 0; }
      .m-copy-image__column:last-child {
        margin-right: 0; } }
  .m-copy-image__link {
    font-size: 2rem;
    color: #a68c5e;
    text-transform: uppercase;
    display: block;
    padding-top: 3rem;
    font-family: "semplicita-semibold", Helvetica, Arial, sans-serif;
    -webkit-transition: all ease-in-out 200ms;
    transition: all ease-in-out 200ms;
    letter-spacing: 0.09em; }
    @media (min-width: 376px) {
      .m-copy-image__link {
        font-size: 2rem; } }
    @media (min-width: 769px) {
      .m-copy-image__link {
        font-size: 2rem; } }
    .m-copy-image__link::after {
      content: '';
      display: block;
      background-color: currentColor;
      height: 0.18em;
      margin-top: 1.5rem; }
    .m-copy-image__link:hover {
      color: #55482f; }

.m-page-footer {
  background-color: #827c77;
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase; }
  @media (min-width: 376px) {
    .m-page-footer {
      font-size: 1rem; } }
  @media (min-width: 769px) {
    .m-page-footer {
      font-size: 1rem; } }
  .m-page-footer__container {
    display: table;
    width: 100%;
    padding-top: 10rem;
    padding-bottom: 7rem; }
  .m-page-footer__logo-container {
    width: 80px;
    display: table-cell;
    vertical-align: middle; }
  .m-page-footer__logo {
    display: block;
    display: block;
    width: 80px;
    height: 20px;
    fill: #fff; }

/**
* Social icons
*/
.m-page-footer__social-icons {
  display: table-cell;
  vertical-align: middle;
  text-align: right; }
  .m-page-footer__social-icons a {
    color: #fff;
    display: block; }
  .m-page-footer__social-icons svg {
    width: 20px;
    height: 20px; }

.m-page-footer__copyright-container {
  display: table;
  padding-bottom: 5rem; }

.m-page-footer__copyright {
  display: table-cell;
  vertical-align: middle; }

.m-sub-navigation {
  margin: 96px auto; }

.m-sub-navigation__menu {
  margin: 0 auto;
  list-style: none;
  position: relative;
  display: flex;
  flex-flow: row wrap; }
  .m-sub-navigation__menu li {
    display: inline-block;
    text-align: center;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(99.9% * 1/3 - (0px - 0px * 1/3));
    max-width: calc(99.9% * 1/3 - (0px - 0px * 1/3));
    width: calc(99.9% * 1/3 - (0px - 0px * 1/3));
    outline: salmon 1px solid; }
  .m-sub-navigation__menu li:nth-child(1n) {
    margin-right: 0px;
    margin-left: 0; }
  .m-sub-navigation__menu li:last-child {
    margin-right: 0; }
  .m-sub-navigation__menu a {
    color: #bbb;
    font-size: 14px;
    float: left;
    padding: 6px 10px 4px 10px;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    width: 100%; }
  .m-sub-navigation__menu span {
    display: block; }

#magic-line {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100px;
  height: 2px;
  background: #fe4902; }

/**
* Components
*/
.c-play-button {
  display: flex;
  width: 190px;
  height: 190px;
  border-radius: 50%;
  background-color: #fff;
  color: #000;
  text-transform: uppercase;
  font-size: 1rem;
  font-family: "semplicita-semibold", Helvetica, Arial, sans-serif;
  letter-spacing: .3rem;
  position: absolute;
  top: 50%;
  left: 100%;
  -webkit-transform: translateX(-100%) translateY(-50%) scale(1);
          transform: translateX(-100%) translateY(-50%) scale(1);
  z-index: 1;
  -webkit-transition: all ease-in-out .2s;
  transition: all ease-in-out .2s; }
.c-play-button {
  justify-content: center;
  align-items: center; }
  @media (min-width: 376px) {
    .c-play-button {
      font-size: 2rem; } }
  @media (min-width: 769px) {
    .c-play-button {
      font-size: 3rem; } }
  .c-play-button__title {
    color: currentColor;
    display: block;
    padding-top: 1rem; }
  .c-play-button:hover {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 100%;
    -webkit-transform: translateX(-100%) translateY(-50%) scale(0.97);
            transform: translateX(-100%) translateY(-50%) scale(0.97);
    z-index: 1;
    background-color: #cbc9c7; }

/**
* Utilities
*/
.u-section {
  width: 100%; }

.u-row {
  margin: 0 auto; }
  .u-row--full-width {
    max-width: 100%; }
  .u-row--large {
    max-width: 90%; }
  .u-row--medium {
    max-width: 1280px; }
  .u-row--small {
    max-width: 1020px; }
    @media (max-width: 1279px) {
      .u-row--small {
        padding-left: 3rem;
        padding-right: 3rem; } }

/*------------------------------------*\
    VISIBILITY UTILITIES
\*------------------------------------*/
/**
* Uppercase type
*/
.u-text-transform--uppercase {
  text-transform: uppercase; }

/**
  * Font weight semibold
  */
.font-family--semibold,
strong {
  font-family: "semplicita-semibold", Helvetica, Arial, sans-serif; }

/* Screen reader
 -----------------------------------*/
.u-sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* Centering
 -----------------------------------*/
.u-center-block {
  margin-left: auto;
  margin-right: auto; }

/* Basic show/hide classes
 -----------------------------------*/
.u-hidden {
  display: none !important; }

.u-show {
  display: block !important; }

html.hidden {
  display: block !important; }

/**
 * Responsive hide-below
 *
 * Uses media max-width so will use the value specified in _variables and will hide content
 * up to that point

 $max-width-small: max-width 540px;
 $max-width-medium: max-width 768px;
 $max-width-large: max-width 1024px;
 $max-width-x-large: max-width 1280px;
 $max-width-xx-large: max-width 1600px;---------------*/
/*
.u-hide-below--small {

    @include breakpoint($max-width-small) {
        display: none!important;
    }

}
.u-hide-below--medium {

    @include breakpoint($max-width-medium) {
        display: none!important;
    }

}
.u-hide-below--large {

    @include breakpoint($max-width-large) {
        display: none!important;
    }

}
.u-hide-below--huge {

    @include breakpoint($max-width-x-large) {
        display: none!important;
    }

}
.u-hide-below--massive {

    @include breakpoint($max-width-xx-large) {
        display: none!important;
    }

}

*/
/**
 * Responsive hide-above
 *
 * Uses media min-width so will use the value specified in _variables and will hide content
 * from that point and above

 $small: 540px;
 $medium: 768px;
 $large: 1024px;
 $x-large: 1280px;
 $xx-large: 1600px;
 -----------------------------------*/
/*
.u-hide-above--small {

    @include breakpoint($small) {
        display: none!important;
    }

}

.u-hide-above--medium {

    @include breakpoint($medium) {
        display: none!important;
    }

}

.u-hide-above--large {

    @include breakpoint($large) {
        display: none!important;
    }

}

.u-hide-above--huge {

    @include breakpoint($x-large) {
        display: none!important;
    }

}

.u-hide-above--massive {

    @include breakpoint($xx-large) {
        display: none!important;
    }

}

*/
.u-iframe {
  position: relative; }
  .u-iframe::before {
    content: '';
    display: block;
    padding-top: 56.25%;
    width: 100%; }
  > .u-iframe__canvas {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0; }
  .u-iframe iframe {
    bottom: 0;
    right: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }
