/**
 * Column group
 */
 
 .m-column-group {
   lost-flex-container: row;
   margin-bottom: $spacing--jumbo;

   // Item / Column
   &__item {
      lost-column: 1/1 1 36px;
      position: relative;
      margin-bottom: $spacing--large;

      @include media('>tablet') {
         lost-column: 1/3 3 36px;
      }

   }

   // Title
   &__title {
      font-family: $font-primary-medium;
      color: palette(primary, base);
      text-transform: uppercase;
      @include set-font-size(2.4rem, 3rem, 3.6rem);

      // Small title
      &--small {
         @include set-font-size(1.8rem, 1.8rem, 2.4rem);
      }

   }

   // Subtitle
   &__subtitle {
      font-family: $font-primary-regular;
      color: palette(bw, black);
      @include set-font-size(1.2rem, 1.2rem, 1.8rem);
   }

   // Expand
   &__expand {
      display: block;
      margin-bottom: $spacing--large;
      position: relative;
      overflow: hidden;

      // If has Modal
      &--has-modal {

         // Hover
         &:hover {
            
            .m-column-group__expand-icon {
               background-color: rgba($black, .6);

               svg {
                  transform: scale(1.08);
               }

            }
      
         }

      }

   }

   // Expand icon
   &__expand-icon {
      background-color: rgba($black, .3);
      $dimensions: 30px;
      width: $dimensions;
      height: $dimensions;
      position: absolute;
      top: $spacing--tiny;
      right: $spacing--tiny;
      z-index: 1;
      border-radius: 50%;
      display: block;
      color: $white;
      lost-align: center;
      transition: all ease-in-out 200ms;

      svg {
         $dimensions: 30px;
         width: $dimensions;
         height: $dimensions;
         transition: all ease 100ms;
      }

      // Hover
      &:hover {
         background-color: rgba($black, .6);

         svg {
            transform: scale(1.08);
         }
      }

   }

   // Image
   &__image {
      display: block;
   }


   // Copy
   &__copy {
      
      p {
         @include set-font-size(1.4rem, 1.4rem, 1.8rem);
         line-height: 1.65;
      }

   }

}


/**
* Header versions
*/
.m-column-group__item--header {

   lost-column: 1/3 3 2.5%;
   margin-bottom: 0;

   .m-column-group__expand {
      margin-bottom: 8% 
   }

}



/**
 * Target the slected Team mamber
 */
.m-column-group__item:target {

   .m-column-group__expand {
      background: lighten( palette(primary, light), 18% );

      img {
         padding: $spacing--tiny;
      }

   }

}