.m-copy-image {
   lost-flex-container: row;
   color: palette(primary, base);
   @extend %u-tb-padding--medium;

   &--dark-color {
      color: palette(bw, black);
   }
   
   p {
      @include set-font-size(1.4rem, 1.8rem, 2.4rem, 2.0rem);
      line-height: 1.75;
      padding-top: $spacing--x-large;
   }

   &__column {
      lost-column: 2/2;
      position: relative;

      // Desktop up
      @include media('>desktop') {
         lost-column: 1/2;

         &:nth-of-type(1) {
            padding-right: $spacing--x-large;
         }
   
         &:nth-of-type(2) {
            padding-left: $spacing--x-large;
         }

      }


   }

   &__link {
      @include set-font-size(2rem, 2rem, 2rem, 2rem);
      color: palette(tertiary, base);
      text-transform: uppercase;
      padding-top: $spacing--medium;
      font-family: $font-primary-semibold;
      transition: all ease-in-out 200ms;
      letter-spacing: 0.09em;
      display: inline-block;
      
      @include media('>desktop') {
         display: block;
         position: absolute;
         width: 100%;
         bottom: $spacing--x-large;   
      }
   
      &::after {
         content: '';
         display: block;
         background-color: currentColor;
         height: 0.18em;
         margin-top: $spacing--x-small;
      }

      &:hover {
         color: palette(tertiary, dark);
      }

   }

}


/**
* Headline
*/
.m-copy-image--headline {

   p {
      @include set-font-size(3.5rem, 4rem, 4rem, 5.5rem);
      line-height: 1.3;
      text-transform: uppercase;

      br {
         display: none;
         visibility: hidden;
      }

      //Superscript
		sup {
			font-size: .3em;
    		top: -1.8em;
		 }

   }

   // Phone upwards
   @include media('>tablet') {
      
      p {
         
         br {
            display: inline;
            visibility: visible;
         }
      }
      
   }

}

/**
* Colour dark
*/
.m-copy-image--color-dark {
   color: palette(bw, black);
}