.m-copy-image {
   lost-flex-container: row;
   color: palette(primary, base);
   padding:$spacing--small 0 $spacing--jumbo;
   
   p {
      @include set-font-size(2.4rem, 2.4rem, 2.4rem);
      line-height: 1.6;
      padding-top: $spacing--x-large;
   }

   &__column {
      lost-column: 2/2;

      &:nth-of-type(1) {
         
         @include media('>tablet') {
            padding-right: $spacing--x-large;
         }

      }

      &:nth-of-type(2) {
         
         @include media('>tablet') {
            padding-left: $spacing--x-large;
         }

      }

      @include media('>tablet') {
         lost-column: 1/2;
      }

   }

   &__link {
      @include set-font-size(2rem, 2rem, 2rem);
      color: palette(tertiary, base);
      text-transform: uppercase;
      display: block;
      padding-top: $spacing--medium;
      font-family: $font-primary-semibold;
      transition: all ease-in-out 200ms;
      letter-spacing: 0.09em;

      &::after {
         content: '';
         display: block;
         background-color: currentColor;
         height: 0.18em;
         margin-top: $spacing--x-small;
      }

      &:hover {
         color: palette(tertiary, dark);
      }

   }

}


/**
* Headline
*/
.m-copy-image--headline {

   p {
      @include set-font-size(4.2rem, 4.8rem, 5.4rem);
      line-height: 1.25;
      text-transform: uppercase;

      br {
         display: none;
         visibility: hidden;
      }

      //Superscript
		sup {
			font-size: .3em;
    		top: -1.8em;
		 }

   }

   // Phone upwards
   @include media('>tablet') {
      
      p {
         
         br {
            display: inline;
            visibility: visible;
         }
      }
      
   }

}

/**
* Colour dark
*/
.m-copy-image--color-dark {
   color: palette(bw, black);

   p {
      @include set-font-size(1.2rem, 1.8rem, 2.4rem);
      line-height: 1.65;
   }
}