.m-detail-group {
   lost-flex-container: row;

   // Item / Column
   &__item {
      lost-column: 1/3;
      outline: crimson solid 1px;
      position: relative;

   }

   // Title
   &__title {
      font-family: $font-primary-medium;
      color: palette(primary, base);
      text-transform: uppercase;
      @include set-font-size(2.4rem, 3rem, 3.6rem);
   }

   // Expand icon
   &__expand-icon {
      background-color: rgba($black, .5);
      $dimensions: 30px;
      width: $dimensions;
      height: $dimensions;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
      display: block;
      color: $white;
   }

   // Image
   &__image {
      margin-bottom: $spacing--large-x;
   }


   // Copy
   &__copy {
      
      p {
         @include set-font-size(1.2rem, 1.2rem, 1.8rem);
         line-height: 1.65;
      }

   }

}