/**
* Hero
*/
.m-hero {
	height: calc(100vh - 136px);
	background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
	margin: 0 auto;
	overflow: hidden;

	&--aspect-ratio {
		@include aspect-ratio(4,4);
		height: 100%;
	}
}


.main-hero--with-image{
	overflow: visible;
	height: auto;	
}

/**
* Hero title container
*/
.m-hero__title-container {
	text-transform: uppercase;
	text-align: center;
	margin: 0;
	@include vertical-align(relative, 50%, 50%, 1);
	width: 100%;
}

/**
* Hero title
*/
.m-hero__title {
	display: block;

	//Superscript
	sup {
		font-size: .4em;
			top: -1.5em;
		}
		
}


.m-hero__title-image {
	display: block;
}

/**
* Home / front page title
*/
.m-hero__title--home {
	color: palette(secondary, base);
	@include set-font-size(1.6rem, 2.4rem, 2.4rem, 3.2rem);
	font-family: $font-primary-medium;
	letter-spacing: .15em;
	position: relative;
	line-height: 1.7;

	$position: 20px;

	&--top {
		top: -$position;
	}

	&--bottom {
		bottom: -$position;
	}

	// Tablet upwards
	@include media('>tablet') {
		// left: 0;
		// right: 0;
		// position: absolute;

		// &--top {
		// 	top: 0;
		// }

		// &--bottom {
		// 	bottom: 0;
		// }

	}

}

/**
* Home Zuma Halo title
*/
.m-hero__title--zuma-halo {
	color: palette(primary, base);
	@include set-font-size(1.2rem, 1.8rem, 2rem, 2.2rem);
	letter-spacing: .2em;

	strong {
		letter-spacing: .3em;
	}

	&--top {
		top: 0;
	}

	&--bottom {
		bottom: 20%;
	}

	// Tablet upwards
	@include media('>phone') {


		&--top {
			top: -7%;
		}
	
		&--bottom {
			bottom: 20%;
		}

	}

		// Tablet upwards
		@include media('>tablet') {
	
			&--top {
				top: -15%;
			}
		
			&--bottom {
				bottom: 20%;
			}
	
		}

}