/**
* Hero
*/
.m-hero {

   @include aspect-ratio(4,4);
	//background-size: cover;
	background-size: contain;
   background-position: center center;
   background-repeat: no-repeat;
   margin: 0 auto;
   //lost-align: center;
}

/**
* Hero title container
*/
.m-hero__title-container {
	text-transform: uppercase;
	text-align: center;
	//lost-align: center;
	@include aspect-ratio(3.5,2);
	@include vertical-align();
	width: 100%;
   
   @include media('>tablet') { 
      position: absolute;
      width: 60%;
   }

}

/**
* Hero title
*/
.m-hero__title {
	display: block;
	position: absolute;
	left: 0;
	right: 0;

	//Superscript
	sup {
		font-size: .4em;
			top: -1.5em;
		}
		
}


/**
* Home / front page title
*/
.m-hero__title--home {
	color: palette(secondary, base);
	@include set-font-size(1.8rem, 2.4rem, 2.4rem, 3rem);

	$position: 10%;

	&--top {
		top: $position;
	}

	&--bottom {
		bottom: $position;
	}

	// Tablet upwards
	@include media('>tablet') {
		left: 0;
		right: 0;
		position: absolute;

		&--top {
			top: 0;
		}

		&--bottom {
			bottom: 0;
		}

	}

}

/**
* Home Zuma Halo title
*/
.m-hero__title--zuma-halo {
	color: palette(primary, base);
	@include set-font-size(1.4rem, 1.8rem,  2.4rem);

	&--top {
		top: 20%;
	}

	&--bottom {
		bottom: 20%;
	}

	// Tablet upwards
	@include media('>tablet') {
		left: 0;
		right: 0;
		position: absolute;

		&--top {
			top: -12.5%;
		}

	}

}