.m-large-copy {
	
	&--color-base {
		color: palette(primary, base);
	}
	
	&--color-white {
		color: palette(bw, white);
	}
	
	&--font-large {
		p {
			@include set-font-size(2.8rem, 4.6rem, 7.2rem);
			line-height: 1.25;
		}
	}
	
	&--font-small {
		p {
			@include set-font-size(1.8rem, 3.8rem, 6rem);
			line-height: 1.25;
		}
	}
	
		p {
			padding: $spacing--large-xxxx 0;

			br {
				display: none;
				visibility: hidden;
			}

		}
		// Phone upwards
		@include media('>tablet') {
			
			p {
				padding: $spacing--jumbo 0;
				
				br {
					display: inline;
					visibility: visible;
				}
			}
			
		}
		// Tablet upwards
		@include media('>desktop') {
			
			p {
				padding: $large--padding 0;
			}
		}

		//Superscript
		sup {
			font-size: .3em;
    		top: -1.8em;
		 }
}