/**
* Page footer
*/
.m-page-footer {
    background-color: palette(primary, base);
    color: palette(bw, white);
    @include set-font-size(1.0rem, 1.0rem, 1.0rem, 1.0rem);
    text-transform: uppercase;

    &__container {
        width: 100%;
        padding-top: $spacing--medium;
        padding-bottom: 100px;
        
        @include media('>tablet') {
            display: table;
            padding-top: $spacing--jumbo;
            padding-bottom: $spacing--large-xxx;
        }

    } 
    // Logo container
    &__logo-container {
        display: table-cell;
        vertical-align: middle;
        display: none;

         @include media('>tablet') {
            display: table;
        }
      }
      
      &__logo {
        display: block;
        display: block;
        width: 110px;
        height: 30px;
        color: $white;
    }
    // strapline
    &__strapline {
        @include set-font-size(1.5rem, 1.5rem, 1.5rem, 1.5rem);
        padding-top: $spacing--small;
        display: block;
        font-family: $font-primary-medium;
        letter-spacing: 0.1rem;
        margin-bottom: $spacing--large;

        @include media('>tablet') {
            margin-bottom: 0;
        }
        
    }
}


.m-page-footer__copyright-container {

    text-align: right;

    @include media('>tablet') {

        display: table-cell;
        vertical-align: bottom;
        line-height: 1.5;

    }

}
