//$height: 150px;

.m-page-header {
   background-color: palette(bw, white);
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 10;

   &__inner-container {
      display: table;
      width: 100%;
      //height: $height;
      transition: height ease-in-out 250ms;
   }
   
   // Logo container
   &__logo-container {
      width: 80px;
      display: table-cell;
      vertical-align: middle;
   }
   
   &__logo {
      display: block;
      width: 80px;
      height: 20px;
      fill: $black;
   }

}

  /**
   * Is stickey header and navigation
   */
 .is-sticky {

   // Main navigation
  //  .m-page-header__inner-container {
  //     height: 80px;
  //     transform: translate3d(0,0,0);
  //     transition: height ease 1s;
  //  }

   .menu-primary-navigation-container {
     padding: $spacing--tiny 0;
     transition: all ease 1s;

    @include media('>tablet') {
      padding: $spacing--small 0;
    }

   }

   // Sub navigation
   .m-sub-navigation__container {
      transform: translate3d(0,0,0);
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 200;
   }

 }