%active-menu {

   &::before {
      content: '';
      display: block;
      height: 3px;
      background-color: currentColor;
      position: absolute;
      bottom: 6px;
      width: 100%;
   }

}

.menu-primary-navigation-container {
   display: table-cell;
   vertical-align: middle;
   perspective: 1000px;
   transition: all ease 100ms;
   padding: $spacing--tiny 0;

   @include media('>tablet') {
      padding: $spacing--large-xx 0;
   }
   
   @include media('>desktop') {
      padding: 4.5rem 0;
   }

   .site-nav__menu {
      margin: 0;
      padding: 6px 0 0 0;
      text-align: right;
   }

   // List item
   .menu-item {
      font-family: font-family(primary, semibold);
      color: palette(greys, base);
      text-transform: uppercase;
      @include set-font-size(.8rem, 1rem, 1.2rem, 1.2rem);
      padding-left: $spacing--large-xx;
      letter-spacing: 0.15rem;
      line-height: 2;

      @include media('>tablet') {
         line-height: 2.1;
      }
      
      @include media('>desktop') {
         display: inline-block;
      }

      a {
         color: currentColor;
         cursor: pointer;
         position: relative;
         display: inline-block;
         @include media('>tablet') {
            padding-bottom: 15px;
         }

         &::before {
            content: '';
            transition: ease 200ms all;
         }

         &:hover {
            @extend %active-menu;
         }

      }

   }

   // Current active menu item
   .current_page_item,
   .current-page-ancestor {
      a {
         @extend %active-menu;
      }
   }

}
