.menu-primary-navigation-container {
   display: table-cell;
   vertical-align: middle;
   perspective: 1000px;
   transition: all ease 100ms;
   padding: $spacing--tiny 0;
   display: none;

   @include media('>desktop') {
      padding: 4.4rem 0;
      display: block;
   }

   .site-nav__menu {
      margin: 0;
      padding: 0;
      text-align: right;
   }

   // List item
   .menu-item {
      font-family: font-family(primary, semibold);
      color: palette(greys, base);
      text-transform: uppercase;
      @include set-font-size(.8rem, 1rem, 1.2rem, 1.2rem);
      padding-left: $spacing--large-xx;
      letter-spacing: 0.15rem;
      
      @include media('<tablet') {
         line-height: 2;
      }
      
      @include media('>desktop') {
         display: inline-block;
      }

      a {
         color: currentColor;
         cursor: pointer;
         position: relative;
         display: inline-block;
         line-height: 3;

         @include media('>tablet') {
            line-height: 2;
         }

         &::after {
            content: '';
            display: block;
            height: 2px;
            bottom: 2px;
            background-color: currentColor;
            position: absolute;
            width: 0;
            left: 50%;
            transform: translateX(-50%);
            transition: width 250ms ease-in-out;
            border-radius: 25px;

            @include media('>tablet') {
               bottom: -10px;
               height: 3px;
            }

         }

      }

   }

   // Current active menu item
   .current_page_item,
   .current-page-ancestor {
      a {
         &::after {
            content: '';
            width: 100%;
         }
      }
   }

}


 /**
 * Modal caption button
 */


 .m-page-header-toggle__label {
   padding: 4.4rem 0;
   color: palette(greys, base);
   display: block;
   text-align: right;
   font-size: 12px;

   &::before {
      content: attr(data-closed);
      display: inline;
   }

   @include media('>desktop') {
      display: none;
   }
   
}

 .m-page-header-toggle__checkbox {
   display: none;
   visibility: hidden;

   &:checked {
      
      &~ label {
         &::before {
            content: attr(data-open);
            display: inline;
         }
      }

      &~ .m-mobile-menu-container {
         transform: translate3d(0, 0, 0);
      }

   }

}


.m-mobile-menu-container {
   background-color: palette(bw, white);
   top: 103px;
   left: 0;
   bottom: 0;
   right: 0;
   z-index: 100;
   padding: $spacing--medium;
   // text-align: left;
   // overflow: hidden;
   transform: translate3d(-100%, 0, 0);
   transition: all ease-in-out 300ms;
   position: fixed;
   //display: none;

   .menu-primary-navigation-container {
      display: block;

      .menu-item {

         margin: $spacing--large 0;

         a::after {
            display: none;
         }

      }

   }


   a {
      color: $black;
      font-size: 16px;
   }

}

.active {
   overflow: hidden;

   .m-mobile-menu-container  {
      //display: block;
      transform: translate3d(0, 0, 0);
   }

} 