/**
* Page footer
*/
.m-page-footer {
    background-color: palette(primary, base);
    color: palette(bw, white);
    @include set-font-size(1.0rem, 1.0rem, 1.0rem, 1.0rem);
    text-transform: uppercase;

    &__container {
        width: 100%;
        padding-top: $spacing--jumbo;
        padding-bottom: $spacing--large-xxx;
        
        @include media('>tablet') {
            display: table;
        }

    } 
    // Logo container
    &__logo-container {
        //width: 80px;
        display: table-cell;
        vertical-align: middle;
      }
      
      &__logo {
        display: block;
        display: block;
        width: 110px;
        height: 30px;
        color: $white;
    }
    // strapline
    &__strapline {
        @include set-font-size(1.5rem, 1.5rem, 1.5rem, 1.5rem);
        padding-top: $spacing--small;
        display: block;
        font-family: $font-primary-medium;
        letter-spacing: 0.1rem;
        margin-bottom: $spacing--large;

        @include media('>tablet') {
            margin-bottom: 0;
        }
        
    }
}

/**
* Social icons
*/
// .m-page-footer__social-icons {
//     display: table-cell;
//     vertical-align: middle;
//     text-align: right;

//     a {
//         color: $white;
//         display: block;
//     }

//     svg {
//         $dimensions: 20px;
//         width: $dimensions;
//         height: $dimensions;
//     }
    
// }

.m-page-footer__copyright-container {


    @include media('>tablet') {

        text-align: right;
        display: table-cell;
        vertical-align: bottom;
        line-height: 1.5;

    }

}

// .m-page-footer__copyright-container {
//     text-align: right;
//     display: block;
//     // padding-bottom: $spacing--large-x;

//     // @include media('>phone') {
//     //     display: table;
//     // }

// }

// .m-page-footer__copyright {
//     text-align: right;
//     display: block;
//     // display: table-cell;
//     // vertical-align: middle;
//     // padding-bottom: $spacing--tiny;

//     // @include media('>phone') {
//     //     display: table;
//     //     padding-bottom: 0;
//     // }

// }