.menu-primary-navigation-container {
   display: table-cell;
   vertical-align: middle;

   .site-nav__menu {
      margin: 0;
      padding: 6px 0 0 0;
      text-align: right;
   }

   // List item
   .menu-item {
      font-family: font-family(primary, semibold);
      color: palette(primary, dark);
      text-transform: uppercase;
      @include set-font-size(1.25rem, 1.25rem, 1.25rem);
      display: inline-block;
      padding-left: $spacing--large-xx;
      letter-spacing: 0.15rem;

      a {
         color: currentColor;
         cursor: pointer;

         &:hover {
            color: palette(primary, light);
         }

      }

   }

   // Current active menu item
   .current_page_item,
   .current-page-ancestor {
      color: palette(primary, light);
   }

}