.m-sub-navigation { 
   transform : translate3d(0, 0, 0);

   &__container {
      background-color: $background-color;
      padding: $spacing--small 0 0;

      // Tablet upwards
      @include media('>tablet') {
         padding: $spacing--large 0 0;
      }

   }
}


.m-sub-navigation__menu { 
	margin: 0 auto; 
	list-style: none; 
   position: relative; 
   lost-flex-container: row;
   
   li {
      display: inline-block;
      text-align: center;
      lost-column: 1/3;
      color: palette(tertiary, base);
      transition: color ease-in-out 300ms;


      a {
         color: currentColor;
         font-size: 14px; 
         float: left;
         text-decoration: none;
         text-transform: uppercase;
         display: block;
         width: 100%;
         padding-bottom: $spacing--small;
         font-size: 1.2rem;
         
         // Tablet upwards
         @include media('>tablet') {
            padding-bottom: $spacing--large-xx;
            font-size: 1.4rem;
         }

      }

      span {
         display: block;
      }

   }

}
 

.magic-line { 
	position: absolute;
	bottom: 0; 
	left: 0; 
	width: 100px; 
	height: 5px; 
   background-color: currentColor;
   overflow: hidden;

   &:after {
      content: '';
      display: block;
      width: 0; 
      height: 0; 
      $dimensions: 5px;
      border-left: $dimensions solid transparent;
      border-right: $dimensions solid transparent;
      border-top: $dimensions solid $white;
      position: relative;
      margin: 0 auto;
   }
}
 