/**
 * Sub navigation
 */

.m-sub-navigation {
    transform: translate3d(0, 0, 0);
    &__container {
        background-color: $background-color; 
        transition: all ease 200ms; 

        // Tablet upwards
        @include media('>tablet') {
            //padding: $spacing--large 0 0;
        }
    }
}

/**
 * Sub navigation menu
 */

.m-sub-navigation__menu {
    margin: 0 auto;
    list-style: none;
    position: relative;
    lost-flex-container: row;
    li {
        display: inline-block;
        text-align: center;
        lost-column: 1/4;
        color: palette(tertiary, base);
        transition: color ease-in-out 300ms;
        a {
            color: currentColor;
            float: left;
            text-decoration: none;
            text-transform: uppercase;
            display: block;
            width: 100%; 
            font-family: $font-primary-medium;
            @include set-font-size(1.0rem, 1.0rem, 1.2rem, 1.3rem);
            letter-spacing: .1em;
            padding-top: $spacing--small;
            padding-bottom: $spacing--small;

            @include media('>tablet') {
                padding-top: $spacing--medium;
                padding-bottom: $spacing--medium;
            }

            // Tablet upwards
            @include media('>tablet') {
                padding-top: $spacing--large;
                padding-bottom: $spacing--large;
            }

            span {
                display: block;
                position: relative;
                overflow: hidden;
                line-height: 1.5;
            }

            &:hover {
                span {
                    &:nth-of-type(3) {
                        display: inline-block;
                        padding-bottom: 11px;
                        &::after {
                            content: '';
                            position: absolute;
                            display: block;
                            bottom: 0px;
                            left: 0;
                            right: 0;
                            height: 3px;
                            background-color: palette(tertiary, light);
                        }
                    }
                }
            }

        }

    }
}

.current-menu-item {
    span {
        display: block;
        position: relative;
        overflow: hidden;
        &:nth-of-type(3) {
            display: inline-block;
            padding-bottom: 11px;
            &::after {
                content: '';
                position: absolute;
                display: block;
                bottom: 0px;
                left: 0;
                right: 0;
                height: 3px;
                background-color: currentColor;
            }
        }
    }

    // &:hover {
    //     span {
    //         &:nth-of-type(3) {
    //             display: inline-block;
    //             padding-bottom: 11px;
    //             &::after {
    //                 content: '';
    //                 background-color: palette(tertiary, light);
    //             }
    //         }
    //     }
    // }
}

.magic-line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 3px;
    background-color: currentColor;
    overflow: hidden;
}

/**
   * Is stickey header and navigation
   */

.is-sticky {
    .m-sub-navigation__container {
        transform: translate3d(0, 0, 0);
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 2;
    }
}