/**
 * Video player
 */
 
.m-video-player__poster {
    opacity: 1;
    transition: ease-out opacity 300ms;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    @include media('<desktop-large') {
        padding-left: $spacing--medium;
        padding-right: $spacing--medium;
    }
    .m-large-copy {
        padding: 0;
        max-width: 1024px;
        @include vertical-align(relative, 50%, 50%, 1);
    }
}

/**
 * Video is playing
 */

.isPlaying>.m-video-player__poster,
.isPlaying>.m-video-player__content {
    opacity: 0;
}