.m-sub-navigation{ 
	margin: 96px auto;
}


.m-sub-navigation__menu { 
	margin: 0 auto; 
	list-style: none; 
   position: relative; 
   lost-flex-container: row;

   li {
      display: inline-block;
      text-align: center;
      lost-column: 1/3;
      outline: salmon 1px solid;
   }

   a {
      color: #bbb; 
      font-size: 14px; 
      float: left;
      padding: 6px 10px 4px 10px;
      text-decoration: none;
      text-transform: uppercase;
      display: block;
      width: 100%;
   }

   span {
      display: block;
   }

}
 

#magic-line { 
	position: absolute;
	bottom: -2px; 
	left: 0; 
	width: 100px; 
	height: 2px; 
	background: #fe4902;
}
 