.u-iframe {

	//@include aspect-ratio(16,9);
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	width: 100%;
	margin-bottom: -2em;
	height: 56.25vw;

    iframe {

    	// position: absolute;
		// bottom: 0;
		// right: 0;
    	// height: 100%;
    	// left: 0;
    	// top: 0;
		// width: 100%;
		
		position: absolute;
		width: 100%;
		height: 56.25vw;
		left: 0;
		top: 0;

    }


}
