/**
 * Using lost grid
 * @documentation http://lostgrid.org/docs.html
 */

@lost gutter 0px;
@lost flexbox flex;
@lost cycle none;

.u-section {
    width: 100%; //lost-column: 12/12;

    &--white-bg {
        background-color: $white;
    }

}

.u-row {
    margin: 0 auto;
    &--full-width {
        max-width: 100%;
        //outline: solid blue 1px;
    }
    &--large {
        max-width: 90%;
        //outline: solid blue 1px;
    }
    &--medium {
        //lost-center: 1280px;
        max-width: 1280px;
        //outline: solid purple 1px;
    }
    &--small {
        //lost-center: 1020px;
        max-width: 1020px;
        //outline: solid Green 1px;
        @include media('<desktop-large') {
            padding-left: $spacing--medium;
            padding-right: $spacing--medium;
        }
    }
}